---
import {Image} from 'astro:assets';
import {getCollection} from 'astro:content';
import Layout from "../../layouts/Layout.astro"
const posts = await getCollection('guides')
---
<Layout title='Návody'>
  <section class="gol-container pt-10 gap-6 grid grid-cols-2 md:grid-cols-3 text-center">
	{posts.map((post) => (
    <div class="group p-5 md:p-10 border border-gray-900 rounded-lg hover:border-amber-300 transition-colors duration-300 ease-in-out">
		  <a href={`/guide/${post.id}/`}>
			  {post.data.heroImage && (<Image src={post.data.heroImage} alt="" class="rounded-lg transition-transform duration-300 ease-in-out transform group-hover:scale-[98%]"/>)}
			  <h2 class="mt-2 text-xl md:text-2xl">{post.data.title}</h2>
		  </a>
	  </div>
	))}
  </section>
</Layout>
