---
import Base from "../components/Base.astro"
import HeaderMain from "../components/HeaderMain.astro"
import FooterMain from "../components/FooterMain.astro"
import JoinInstructions from "../components/JoinInstructions.astro"
import MobileNavigation from "../components/MobileNavigation.astro"
import links from "../data/links.json"
const {title} = Astro.props
// guide specific elements
import "../assets/css/blog.css"
import {Image} from "astro:assets";
import type { CollectionEntry } from "astro:content";
type Props = CollectionEntry<"guides">["data"];
const {heroImage} = Astro.props;
---
<html lang="en">
  <Base title={title}/>
  <body>
    <HeaderMain links={links}/>
		<main class="gol-container">
      <div class="lg:flex mx-auto justify-center items-center gap-10">
        {heroImage && <Image src={heroImage} alt="" class="max-w-sm mt-5 mx-auto lg:mx-0 rounded-lg"/>}
        <div class="lg:text-left text-center lg:mt-0 mt-5">
          <span class="text-xl">Návod pro Game of Life</span><br/>
          <span class="text-6xl font-bold">{title}</span>
        </div>
      </div>
      <article class="blog mx-auto max-w-3xl mt-10 text-lg"><slot/></article>
		</main>
    <FooterMain links={links}/>
    <JoinInstructions/>
    <MobileNavigation links={links}/>
  </body>
</html>
